@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
    background-color: #192374;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color:  #ffffaa;
    border-radius: 8px;
    
}
::-webkit-scrollbar-thumb:active{
    background-color: #a39b6b;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppis', Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--cor-principal);
    
}

header{
    box-shadow: 5px 4px 10px #000000a6;
    position: relative;
    background-color: #121212;
}

header h2{
    color: #8cb0ff;
}


header  button:hover{
    background-color: #346ec5;
}
header  button:active{
    background-color: #05295f;
}

header .nav-link{
    color: rgba(255, 255, 255, 0.74);
    font-weight: bolder;
    margin-left: 1rem;
}

header .active{
    color: white !important;
}

header .nav-link:hover{
    color: #5d8bfa;
    position: relative;
    bottom: 1px;
}


.logo-opus{
    width: 50px;
    transform: scale(1.4);
    margin-right: 1rem;
}


.icon{
    position: fixed;
    left: 95%;
    bottom: 5%;
    transition: 3s all;
    z-index: 1;
}


.icon-img{
    animation: pulse 3s infinite;
    filter: drop-shadow(5px 5px 10px #00000017);
    transition: 1s all;
    width: 3.60rem;
    
}


/*----------------------------*/
.iconduvida {
    z-index: 1;
    position: fixed;
    left: 95% ;
    bottom: 12%;
    transition: 3s all;
}

.iconduvida img {
    width: 3.60rem;
    transition: 1s;
}

.iconduvida img:hover{
    transform: scale(0.90);
    
}

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Ajuste a posição conforme necessário */
    left: 50%;
    margin-left: -70px; /* Centralizar */
    opacity: 0;
    transition: opacity 0.8s;
}
.iconduvida:hover .tooltip {
    visibility: visible;
    opacity: 1;
}



footer{
    background-color: #ffffaa;
    margin-top: 10rem;
    text-align: center;
    box-shadow: -5px -4px 10px #00000088;
}

footer .contato{
    margin-right: 20px;
}
footer .direitos-autorais {
    margin-right: 20px;
}

.contato,
.redes-sociais,
.direitos-autorais {
    display: inline-block;
    vertical-align: top;
}

.contato a{
    color: #000;
    text-decoration: none;
}

.contato a:visited{
    color: #000;
}

footer .direitos-autorais{
    color: #00000067;
}

footer .convenios{
    width: 100%;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .convenios .img-convenio img{
    width: 80px;
    margin-left: .50rem;
}
footer .convenios .img-convenio:nth-child(17) img{
    width: 60px;
}

.redes-sociais ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.redes-sociais li {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociais img {
    width: 20px;
    height: 20px;
}

.direitos-autorais {
    margin-top: 20px;
}


p {
    font-size: 14px;
    line-height: 1.5;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
}


h4,h3{
    font-size: 1.5rem;
    color: #000;
    text-transform: capitalize;
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
}

/*-----------------*/

@keyframes pulse {
    0%{
        transform: scale(.90);
        
        
    }
    25%{
        transform: scale(1);
        
    }
    50%{
        transform: scale(.90);
       
    }

    75%{
        transform: scale(1);
    }

    100%{
        transform: scale(.90);
    }
}