@media (max-width: 1100px) {
    .icon{
        left: 90% ;    
    }
    .iconduvida{
        left: 90% ;
    }
}

@media (max-width: 544px) {
    main{
        height: 82rem;
        justify-content: space-evenly;
        align-items: center;
        
    }
    main .rede-social{
        width: 100%;
        height: 15rem;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
    }
    .rede-social .social{
        margin-left: 0;
    }
    .social ul{
        padding: 0;
        margin: 0;
    }
    .icon{
        left: 85% ;
        bottom: 1%;
    }
    .icon-img{
        width: 50px;
        animation: pulse 3s infinite linear;
        filter: drop-shadow(5px 5px 10px #00000017);
        transition: 1s all;
    }

    .iconduvida{
        bottom: 7%;
        left: 85%;
    }
    
    footer{
        margin-top: 10rem;
    }
}   