@media (max-width: 1629px) {
    main{
        text-align: center;
        flex-direction: column;
        margin-bottom: 2rem;
        padding: 0;
    }
    .box-text{
        width: 100%;
    }
    .box-card{
        width: 100%;
        
    }
    .box_Servi{
        padding: 1rem;
        width: 100%;
        justify-content: start;
    }
    .box_Servi .box1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    .cards{
    margin: 1rem;
    
    }
    .box1{
        flex-direction: column;
        
    }
    .box3{
        width: 100%;
        margin-top: 3rem;
        
        
    }
    .img{
        width: 50%;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img img{
        width: 400px;
        height: 400px;

    }
  
    .box-slider{
        padding: 0 0 .10rem;
    }
    .slider{
        width: 100%;
        height: 80%;
        overflow: hidden;
        border-radius: 5px;
    
    }
    
    .manual-navigation{
        width: 100%;
    }
    .navigation-auto{
        width: 100%;
    }

    .box-text{
        margin-bottom: 5rem;
        padding: 1rem;
    }
    footer{
        margin-top: 10rem;
    }
}


@media (max-width: 1146px) {
    .iconduvida{
        left: 92%;
    }
    .icon{
        left: 92%;
    }
}


@media (max-width: 1100px) {
    main{
        text-align: center;
        flex-direction: column;
        padding: 0;
    }

    .box-text{
        width: 100%;
    }
    .box-card{
        width: 100%;
        
    }
    .box_Servi{
        padding: 1rem;
        width: 100%;
        margin-bottom: 0rem;
        justify-content: start;
    }
   

    .cards{
    margin: 1rem;
    
    }
    .box1{
        flex-direction: column;
        
    }
    .box3{
        width: 100%;
        margin-top: 3rem;
        padding: 0;
        
    }
        
   
    .icon-img{
        width: 50px;
        animation: pulse 3s infinite linear;
        filter: drop-shadow(5px 5px 10px #00000017);
        transition: 1s all;
    }

    .icon{
        bottom: 6%;   
    }
   
    .slider{
        width: 100%;
        height: 80%;
        overflow: hidden;
        border-radius: 5px;
    
    }
    
    .manual-navigation{
        width: 100%;
    }
    .navigation-auto{
        width: 100%;
    }

    .box-text{
        margin-bottom: 5rem;
        padding: 1rem;
    }
    footer{
        margin-top: 10rem;
    }
}

@media (max-width: 1086px){
    .box_Servi .box1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 40rem;
        flex-wrap: wrap;
        place-content: center center;
    }
    .box3{
        height: 60rem;
        flex-direction: column;
        padding: .50rem;
    }
    .box3 .text{
        height: 35rem;
        width: 100%;
        margin-top: 0;
    }
    
}
@media (max-width: 1076px){
    .box_Servi .box1{
        height: 40rem;
}
}

@media (max-width: 768px) {
    main{
        text-align: center;
        flex-direction: column;
        padding: 0;
    }

    .box-text{
        width: 100%;
    }
    .box-card{
        width: 100%;
        
    }
    .box_Servi{
        padding: 1rem;
        width: 100%;
        height: 50rem;
        margin-top: 0;
        justify-content: start;
        
    }

    .cards{
    margin: 1rem;
    
    }
    .box1{
        flex-direction: column;
        
    }
    
    .img{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
    
    .img img{
        width: 350px;
        height: 350px;

    }

    .icon-img{
        width: 50px;
        animation: pulse 3s infinite linear;
        filter: drop-shadow(5px 5px 10px #00000017);
        transition: 1s all;
    }
    
    .slider{
        width: 100%;
        height: 80%;
        overflow: hidden;
        border-radius: 5px;
    
    }
    
    .manual-navigation{
        width: 100%;
    }
    .navigation-auto{
        width: 100%;
    }

    .box-text{
        margin-bottom: 5rem;
        padding: 1rem;
    }
    footer{
        margin-top: 10rem;
    }
}


@media (max-width: 663px) {
    main{
        text-align: center;
        flex-direction: column;
        padding: 0;
    }

    .box-text{
        width: 100%;
    }
    .box-card{
        width: 100%;
        
    }
    .box_Servi{
        padding: 1rem;
        width: 100%;
        height: 50rem;
        justify-content: start;
        
    }

    .cards{
    margin: 1rem;
    
    }
    .box1{
        flex-direction: column;
        
    }
    
    .img{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
    
    .img img{
        width: 300px;
        height: 300px;

    }
    .icon{
        bottom: 1%;
    }
    .icon-img{
        width: 50px;
        animation: pulse 3s infinite linear;
        filter: drop-shadow(5px 5px 10px #00000017);
        transition: 1s all;
    }

    .iconduvida{
        bottom: 7%;
    }

    .slider{
        width: 100%;
        height: 80%;
        overflow: hidden;
        border-radius: 5px;
    
    }
    
    .manual-navigation{
        width: 100%;
    }
    .navigation-auto{
        width: 100%;
    }

    .box-text{
        margin-bottom: 5rem;
        padding: 1rem;
    }
    footer{
        margin-top: 5rem;
    }
}

@media (max-width: 653px) {
    .box3{
        height: 72rem;
    }
    .box3 .text{
        height: 60rem;
        
    }
    .somos{
        flex-wrap: wrap;
        place-content: center center;
        height: 25rem;
        padding: 1rem;
    }
    .icon{
        left: 90%;
    }
    .iconduvida{
        left: 90%;
    }
}

@media (max-width: 556px){
    
    .icon{
        left: 88%;
    }
    .iconduvida{
        left: 88%;
    }
    .somos{
        height: 30rem;
    }
    .box_Servi{
        margin-bottom: 5rem;
    }
    
}

@media (max-width: 546px){
    .box_Servi{
        height: 90rem;
    }
    .box_Servi .box1{
        height: 100rem;
    }
}

@media (max-width: 422px) {
    .box3{
        height: 85rem;
    }
    .box3 .text{
        height: 70rem;
    }
    .somos{
        flex-wrap: wrap;
        place-content: center center;
        padding: 1rem;
        height: 32rem;
    }
    .icon{
        left: 84%;
    }
    .iconduvida{
        left: 84%;
    }
   
}



@media (max-width: 328px) {
    .box3{
        
    }
    .box3 .text{
        
    }
    .box_Servi{
        height: 95rem;
        margin-bottom: 4rem;
    }

    .somos{
        flex-wrap: wrap;
        place-content: center center;
        padding: 1rem;
        height: 36rem;
    }

    .icon{
        left: 82%;
    }
    .iconduvida{
        left: 82%;
    }
   
}

@media (max-width: 290px) {
    .somos{
        flex-wrap: wrap;
        place-content: center center;
        padding: 1rem;
        height: 38rem;
    }
   
}
