:root{
    /*Variavel Cores*/
    --cor-principal: #f8f9fa;
    --cor-secundaria: #00296b;
    --cor-terceira: #003F88;
    --cor-quarto:#00509D;

    --cor-quinto:#FDC500;
    --cor-sexto:#FFD500;
    --cor-escuro: #ffff00;
   
}